.card {
    border-radius: 1rem;
}

.img-fluid {
    border-radius: 1rem 0 0 1rem;
}


.btn-dark {
    background: #184B46;
    --bs-btn-border-color: #184B46;
    --bs-btn-hover-color: #fbe6c7;
    --bs-btn-hover-bg: #CC781A;
    --bs-btn-hover-border-color: #fbe6c7;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fbe6c7;
    --bs-btn-active-bg: #CC781A;
    --bs-btn-active-border-color: #CC781A;
    --bs-btn-active-shadow: inset 0 3px 5px #00000020;
    --bs-btn-disabled-color: #fbe6c7;
    --bs-btn-disabled-bg: #184B46;
    --bs-btn-disabled-border-color: #184B46;
}

.fw-normal,
.mb-3,
.pb-3 {
    letter-spacing: 1px;
}

.mb-5,
.pb-lg-2 {
    color: #184B46;
}

.register {
    color: #184B46;
    text-decoration: none;
}

.vh-100 {
    background-color: #fbe6c7;
}

.small,
.text-muted {
    text-decoration: none;
}

.welcome {
    flex-direction: row;
}