.profile-container {
    display: flex;
    flex-flow: column nowrap;
}

.pet-icon img {
    width: 125px;
    height: 125px;
    padding: 25px;
}

.pet-icon {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #184B46;

}