.profile-container {
    display: flex;
    flex-flow: column nowrap;
}

/* .pet-icon img {
    width: 150px;
    height: 150px;
    padding: 12.5px;
} */

.pet-icon {
    display: flex;
    flex-direction: row nowrap;
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
}