.navbar{
    background-color:  rgba(21, 180, 204, 0.785);
    display: flex;
    align-items: center;
    margin: -0.5rem;
}

.menu-bars{
    margin-left: 5rem;
    font-size: 5rem;
    background: none;
}

.nav-menu{
    background-color: white;
    width: 40vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0%;
    top: 0%;
}


.nav-text{
    display:flex;
    justify-content: center;
    align-content: flex-start;
    padding: 6px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: black;
    color: white;
}

span{
    margin-left: 4vh;
}
